<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jack Shoemaker | jackshoemaker.com</title>
        
        <!--<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />-->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bangers:" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/style.css" />
        <link href="/bower/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <h1>Jack Shoemaker</h1>
        <p>Hello World!</p>
        <h2>About Me</h2>
        <p>
            I am Jack Shoemaker, a resident of Rosemount, MN. 
            I like to play with my friends, build with LEGOs, play board games with my family, and play <a href="https://minecraft.net/">Minecraft</a>, my favorite video game. I live with my parents and my sister, Caroline. I have 2 best friends: Carter Oleyar and Nicholas Essler. They are both in my 4th grade homeroom. 
        </p>
        <p>
            My favorite subject in school is Science. My least favorite subject is Writing. 
            My favorite sports are Swimming, Soccer, and Golf. My favorite food is Sushi. 
            My favorite book is <a href="http://amzn.com/1612184715"><i>Off to be the Wizard</i></a>. 
            My favorite movie so far is <i> Harry Potter and the Chamber of Secrets</i>. 
        </p>
        <p>
            Some places I've been to are:
            <ul>
                <li>Sanibel Island, Florida</li>
                <li>Disney World, Florida</li>
                <li>Denver, Colorado</li>
                <li>Moab, Utah</li>
            </ul>

        </p>


        <script src="/js/script.js"></script>
    </body>
</html>